@model CoreAndFood.Data.Models.Category;


@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="align-content:center;">Category Add Page</h1>
<br />
<br />
@using(Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
{
    // 1-Action Name  2-ControllerName 3- Action ne zaman tetiklenecek.

    <h4>Category Name</h4>
    @Html.TextBoxFor(x => x.CategoryName , new {@class = "form-control"})
    <br />
    <h4>Category Description</h4>
    @Html.TextBoxFor(x => x.CategoryDescription , new {@class = "form-control"})
    <br />

    <button class="btn btn-info">Save</button>
}
