@model List<CoreAndFood.Data.Models.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Category List</h1>
<br />

<table class="table table-bordered">
    <tr>
        <th><strong>ID</strong></th>
        <th>Category Name</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><strong>@item.CategoryID</strong></td>
            <td>@item.CategoryName</td>
            @if(item.Status == true)
            {
                <td style="color:forestgreen"><strong>@item.Status  ✔️</strong></td>

            }
            else
            {
                <td style="color:darkred"><strong>@item.Status  ❌</strong></td>
            }

            <td><a href="#" class="btn btn-danger">Delete</a></td>
            <td><a href="/Category/CategoryGet/@item.CategoryID" class="btn btn-success">Update</a></td>
        </tr>
    }

</table>

<a href="/Category/CategoryAdd" class="btn btn-primary">New Category</a>

